In [29]:
#시리즈
di={'pythob':90, "java":80, "c":70}
print(di,type(di))

sr=pd.Series(di,name="성적") #딕셔너리를 시리즈로 변환하게 되면 키캆이 행으로감
print(sr.name) #열제목 접근
sr.name='성적표' #열제목 수정
print(sr) #변경된 열제목으로 출력
print()

#조건부 데이터 선택
print(sr>70) #각 데이터값이 70초과 인것들만 출력되는데 논리형으로 출력이됨
print(sr[sr>70])
print(sr[(sr>60) &(sr<90)])

{'pythob': 90, 'java': 80, 'c': 70} <class 'dict'>
성적
pythob    90
java      80
c         70
Name: 성적표, dtype: int64

pythob     True
java       True
c         False
Name: 성적표, dtype: bool
pythob    90
java      80
Name: 성적표, dtype: int64
java    80
c       70
Name: 성적표, dtype: int64

In [63]:
#시리즈의 원소 추가, 수정, 삭제
import pandas as pd

#1)원소의 추가  : 시리즈명[라벨명]=값
sr["web"]=70
sr['SQL']=82
print(sr) #web, SQL 행 추가 됨
print()

#2)원소 수정
sr["java"]=85
sr['SQL']=84
# sr[1]=30 인덱스 사용하여 바꾸는것 가능은 하나, 권장사항아님
# sr.iloc[1] 만약 인덱스 번호로 접근하고싶다면 꼭 iloc를 붙인 후에 사용가능
print(sr) #85점으로 자바의 점수가 수정됨 84점으로 SQL 점수가 수정됨 
print()

#3)원소 삭제
del sr["web"]
del sr ['SQL']
print(sr) # 두 과목의 행이 삭제 되었음

pythob    90
java      85
c         70
web       70
SQL       82
Name: 성적표, dtype: int64

pythob    90
java      85
c         70
web       70
SQL       84
Name: 성적표, dtype: int64

pythob    90
java      85
c         70
Name: 성적표, dtype: int64

In [121]:
#<실습>

import pandas as pd

#1) 1명의 학생의 성적을 저장하는 시리즈 생성
# 수학 : 80, 국어: 70, 영어: 85

stu=pd.Series([80,70,85], index=['수학', '국어', '영어'], name="학생1")
print(stu)
print()

#2)학생의 수학, 국어, 영어 점수 각각 출력

print(f"수학점수 : {stu.iloc[0]}")
print(f"국어점수 : {stu['국어']}")
print(f"영어점수:  {stu.iloc[2]}")
print()

#3)학생의 수학점수를 90점으로 수정, 영어점수 삭제 후 출력
stu['수학']=90
del stu['영어']
print(stu)

수학    80
국어    70
영어    85
Name: 학생1, dtype: int64

수학점수 : 80
국어점수 : 70
영어점수:  85

수학    90
국어    70
Name: 학생1, dtype: int64

In [141]:
#<실습>_다른방식으로 풀기

#1) 1명의 학생의 성적을 저장하는 시리즈 생성
# 수학 : 80, 국어: 70, 영어: 85

di={"수학":80, "국어":70, "영어":85}
stu=pd.Series(di,name='학생1')
print(stu)
print()

#2)학생의 수학, 국어, 영어 점수 각각 출력
for i,j in stu.items(): #시리즈는딕셔너리처럼 items() 사용가능
    print(f"{i}점수: {j}")
print()

#3)학생의 수학점수를 90점으로 수정, 영어점수 삭제 후 
stu.iloc[0]=90
del stu['영어'] #del stu.loc[인덱스명] 안됨. del 키워드에서는 loc사용불가!!
print(stu)

수학    80
국어    70
영어    85
Name: 학생1, dtype: int64

수학점수: 80
국어점수: 70
영어점수: 85

수학    90
국어    70
Name: 학생1, dtype: int64

In [163]:
#시리즈의 연산
#시리즈 (연산자) 숫자 = 해당 시리즈의 개별 요소에 맞는 연산이 됨
#시리즈 + 시리즈 = 시리즈의 해당 요소끼리 연산이 가능하나, 인덱스(행이름)이 같은 것들끼리 연산됨
#라벨이름이 다르거나 라벨이름은 같은데 값하나가 nan 인경우 : fill_value를 이용하여 nan을 다른 값으로 대체 후 계산

import pandas as pd

#시리즈 +숫자
di={"python":95, "java":80, "c":70}
sr1=pd.Series(di, name='학생1')
print(sr1)
print()

print(sr1-10) #기존 시리즈의 개별요소에 -10이 빠진 숫자로 변경됨
print(sr1 *10)
print(sr1+40)
print(sr1%2)
print(sr1>10) #일반 산술연산자 이외에 비교연산도 가능
print(sr1[sr1>10]) #비교연산시, 비교연산을 인덱스에 넣어주면 그에맞는 값만 골라서 값으로 보여줌
print()

#시리즈 + 시리즈 (라벨짝이 맞는경우)
di2={"python": 70, "java":90, "c":60}
sr2=pd.Series(di2,name="학생2")
print(sr2)
print()

print(sr1+sr2) #라벨이름이 똑같아, 짝이 맞는것끼리 연산! 각자 가지고있는 nema은 상관없음
#이렇게 출력시에만 덧셈결과를 보여주는것. 연산한 결과를 저장하고싶다면 새로운 변수를 만들어
#시리즈를 저장해야함. 
#result=sr1+sr2  restult. name= '총합'   print(result) <<- 이렇게!

python    95
java      80
c         70
Name: 학생1, dtype: int64

python    85
java      70
c         60
Name: 학생1, dtype: int64
python    950
java      800
c         700
Name: 학생1, dtype: int64
python    135
java      120
c         110
Name: 학생1, dtype: int64
python    1
java      0
c         0
Name: 학생1, dtype: int64
python    True
java      True
c         True
Name: 학생1, dtype: bool
python    95
java      80
c         70
Name: 학생1, dtype: int64

python    70
java      90
c         60
Name: 학생2, dtype: int64

python    165
java      170
c         130
dtype: int64

In [215]:
#시리즈의 연산

import pandas as pd

#시리즈+시리즈 (라벨 짝이 맞지 않는경우)
di3={"python":80, "java":80} 
sr3=pd.Series(di3,name='학생3')
print(sr3)
print()

print(sr2.index) #인덱스 c 있음
print(sr2.index) #인덱스 C 없음 
print(sr2+sr3) #c의 값은 NaN으로 출력됨
print()

#한쪽값이 NaN인경우
import numpy as np #결측값을 만들기 위해서는 넘파이가 있어야함
print(np.nan) #이걸만들기위해서 넘파이 필요

di4={"python":80, "java":85, "c":np.nan}
sr4=pd.Series(di4,name='학생4')
print(sr4)
print()
print(sr1+sr4)
print()
#결측치 문제 해결방법 : 연산메소드, fill_value

sr_add=sr1.add(sr4,fill_value=0) #add()덧셈연산자. fill_value를 사용하여 sr4의 값있는 결측치를 0으로바꿔
#결론적으로는 70+0이 나온것
print(sr_add)
sr_add1=sr3.add(sr4,fill_value=0) #아예 짝이 안맞는 애를 0하면 0+0=0이 아니라 nan출력
#짝은 맞는데 값이 한쪽 값이 nan인경우 사용가능
print(sr_add1)
sr_sub=sr1.sub(sr4,fill_value=0) #빼기도 가능
print(sr_sub)

python    80
java      80
Name: 학생3, dtype: int64

Index(['python', 'java', 'c'], dtype='object')
Index(['python', 'java', 'c'], dtype='object')
c           NaN
java      170.0
python    150.0
dtype: float64

nan
python    80.0
java      85.0
c          NaN
Name: 학생4, dtype: float64

python    175.0
java      165.0
c           NaN
dtype: float64

python    175.0
java      165.0
c          70.0
dtype: float64
c           NaN
java      165.0
python    160.0
dtype: float64
python    15.0
java      -5.0
c         70.0
dtype: float64

In [237]:
#pandas의 연산메소드

#시리즈명.add() : 덧셈
print(sr1.add(sr2))

#시리즈명.sub() : 뺄셈
print(sr1.sub(sr2))

#시리즈명.mul() : 곱셈
print(sr1.mul(sr2))

#시리즈명.div () : 나누기
print(sr1.div(sr2))

#시리즈명.mod() : 나머지
print(sr1.mod(sr2))

#시리즈명. pow() 제곱
print(sr1.pow(sr2))

python    165
java      170
c         130
dtype: int64
python    25
java     -10
c         10
dtype: int64
python    6650
java      7200
c         4200
dtype: int64
python    1.357143
java      0.888889
c         1.166667
dtype: float64
python    25
java      80
c         10
dtype: int64
python    8981282817754628545
java                        0
c         1152921504606846976
dtype: int64

In [257]:
#데이터 프레임
#넘파이의 배열과 또 다른 형태로 데이터를 쉽게 가공하기 위한 일종의 틀
#2차원 리스트를 매개변수로 전달함
#행방향인덱스=index와 열방향 인덱스(column)이 존재 (행과열을 가지는 자료구조)
#시리즈, 리스트, 딕셔너리 등으로 생성 가능함

import pandas as pd
#pd.DataFrame(values, index=행제목, column=열제목)

value=[[1,2,3],[4,5,6],[7,8,9]] #2차원 리스트
index=['one','tow','three']
column=['A','B','C']

df=pd.DataFrame(value, index=index, columns=column)
print(df,type(df)) #판다스의 데이터프레임으로 출력

print(df.values,type(df.values))
#2차원의 리스트를 매개변수로 전달했기때문에 값만 출력했을때 2차원의 넘파이 배열형태로 가져옴

df #판다스의 데이터프레임은 df만 적으면 표형식으로 정리해서출력됨!

       A  B  C
one    1  2  3
tow    4  5  6
three  7  8  9 <class 'pandas.core.frame.DataFrame'>
[[1 2 3]
 [4 5 6]
 [7 8 9]] <class 'numpy.ndarray'>

       A  B  C
one    1  2  3
tow    4  5  6
three  7  8  9

In [281]:
#딕셔너리 -> 데이터 프레임

#시리즈의 경우 딕셔너리를 시리즈로 변환하면 키값이 행으로 갔지만
#데이터 프레임의 경우 딕셔너리를 데이터프레임으로 변환하면 키캆이 열제목(columns)로 가고
#행에는 자동적으로 0부터 시작하는 정수가 붙음

import pandas as pd

stu={"python":[90,100],"java":[80,64],"c":[50,60]}
print(stu,type(stu))

df=pd.DataFrame(stu,index=['학생1','학생2']) #자동 행저장이 싫다면 미리 만들어주면됨
#다 만들고 나서 인덱스만 바꿔주는경우
# df.index=['학생1','학생']
print(df)

{'python': [90, 100], 'java': [80, 64], 'c': [50, 60]} <class 'dict'>
     python  java   c
학생1      90    80  50
학생      100    64  60

In [323]:
import pandas as pd


#1차원 리스트로 데이터 프레임 만들기
li=[x for x in range(1,6)] #리스트 컴프리헨션으로 1~5까지의 숫자형 리스트 만들기
print(li)

# df=pd.DataFrame(li,index=["a","b","c","d","e"],columns="A")
#↑ 컬럼값을 한개만 넣고싶어도 리스트의 형태로 전달해줄것!!
df=pd.DataFrame(li,index=["a","b","c","d","e"],columns=["A"])
df
print()

#리스트로 2차원 만들기
li2=[[1,2,3,4],[5,6,7,8],[1,2,3,4]]
df=pd.DataFrame(li2)
df.index=['일','이','삼']
df.columns=["a","b","c","d"]
df

[1, 2, 3, 4, 5]

   a  b  c  d
일  1  2  3  4
이  5  6  7  8
삼  1  2  3  4

In [619]:
#리스트 -> 데이터 프레임변환<실습>(닥셔너리와 방법 동일!)

li=[['유다빈밴드',4,'항해'],['실리카겔',4,'no_pain'],['정우',1,'철의삶']]
band_df=pd.DataFrame(li, index=['밴드1','밴드2','인디가수3'])
band_df.columns=['밴드명','멤버수','대표곡']
print(band_df)
print()

#데이터프레임->리스트 <실습>

#값
b_v=band_df.values.tolist()
print(b_v)
print()

#행
b_in=band_df.index.tolist()
print(b_in)
print()
#열

b_col=band_df.columns.tolist()
print(b_col)

#특정값 밴드명만 빼오기
b_u=band_df["밴드명"].values.tolist()
print(b_u)
print()
print()



#데이터 프레임 -> 딕셔너리 변환

#전체 반환
di1_b=band_df.to_dict()
print(di1_b)
print()

#to_dict("list")
di2_b=band_df.to_dict("list")
print(di2_b)
print()

#to_dict("index")
di3_b=band_df.to_dict("index")
print(di3_b)
print()

#to_dict("records")
di4_b=band_df.to_dict("records")
print(di4_b)
print()

#원소 선택하기<실습>
print(band_df.iloc[1]) #시리즈
print(band_df.loc["밴드1"]) #시리즈
print()

#원소 슬라이싱
print(band_df.iloc[0::2])
print(band_df.iloc[0,1:])
print(band_df.iloc[0,[0,2]])
print(band_df.loc["인디가수3",["멤버수","대표곡"]]) #여러값 선택
print(band_df.loc[["밴드1","밴드2"],"밴드명"])
print()

#열로 슬라이싱하기 
print(band_df.iloc[:,0])
print(band_df.loc[:,"대표곡"])
print()

print(band_df.loc["밴드1",:])

         밴드명  멤버수      대표곡
밴드1    유다빈밴드    4       항해
밴드2     실리카겔    4  no_pain
인디가수3     정우    1      철의삶

[['유다빈밴드', 4, '항해'], ['실리카겔', 4, 'no_pain'], ['정우', 1, '철의삶']]

['밴드1', '밴드2', '인디가수3']

['밴드명', '멤버수', '대표곡']
['유다빈밴드', '실리카겔', '정우']


{'밴드명': {'밴드1': '유다빈밴드', '밴드2': '실리카겔', '인디가수3': '정우'}, '멤버수': {'밴드1': 4, '밴드2': 4, '인디가수3': 1}, '대표곡': {'밴드1': '항해', '밴드2': 'no_pain', '인디가수3': '철의삶'}}

{'밴드명': ['유다빈밴드', '실리카겔', '정우'], '멤버수': [4, 4, 1], '대표곡': ['항해', 'no_pain', '철의삶']}

{'밴드1': {'밴드명': '유다빈밴드', '멤버수': 4, '대표곡': '항해'}, '밴드2': {'밴드명': '실리카겔', '멤버수': 4, '대표곡': 'no_pain'}, '인디가수3': {'밴드명': '정우', '멤버수': 1, '대표곡': '철의삶'}}

[{'밴드명': '유다빈밴드', '멤버수': 4, '대표곡': '항해'}, {'밴드명': '실리카겔', '멤버수': 4, '대표곡': 'no_pain'}, {'밴드명': '정우', '멤버수': 1, '대표곡': '철의삶'}]

밴드명       실리카겔
멤버수          4
대표곡    no_pain
Name: 밴드2, dtype: object
밴드명    유다빈밴드
멤버수        4
대표곡       항해
Name: 밴드1, dtype: object

         밴드명  멤버수  대표곡
밴드1    유다빈밴드    4   항해
인디가수3     정우    1  철의삶
멤버수     4
대표곡    항해
Name: 밴드1, dtype: object
밴드명    유다빈밴드
대표곡       항해
Name: 밴드1, dtype: object
멤버수      1
대표곡    철의삶
Name: 인디가수3, dtype: object
밴드1    유다빈밴드
밴드2     실리카겔
Name: 밴드명, dtype: object

밴드1      유다빈밴드
밴드2       실리카겔
인디가수3       정우
Name: 밴드명, dtype: object
밴드1           항해
밴드2      no_pain
인디가수3        철의삶
Name: 대표곡, dtype: object

밴드명    유다빈밴드
멤버수        4
대표곡       항해
Name: 밴드1, dtype: object

In [391]:
#데이터 프레임 -> 리스트 변환
#데이터 프레임을 리스트로 변환하기 위해서는 변환함수를 사용해주어야함
#df.values.tolist(): 데이터 프레임의 값중 데이터의 값을 리스트로 변환
#df.columns.tolist(): 데이터 프레임의 값중 열제목을 리스트로 반환
#df.index.tolist():데이터 프레임의 값중 행제목을 리스트로 반환

#데이터프레임 만들기
stu={'name':["짱구","철수","훈이"],"score":[60,100,70]}
df=pd.DataFrame(stu,index=[f"학생{x}" for x in range(1,4)]) #리스트 컴프리헨션으로 x에 값1,2,3을 넣고
#그걸 f스트링으로 다시 만들어서 결론적으로는 학생1, 학생2, 학생3으로 넣어준것
print(f) #딕셔너리라 어차피 컬럼은 자동으로 들어감
print()

#데이터값 리스트로 만들기(df.values.tolist())
stu_li=df.values.tolist()
print(stu_li,type(stu_li)) #1행의 데이터-> 1개의 내부리스트 
print()

#인덱스 값 리스트로 만들기(df.index.tolist())
stu_in=df.index.tolist()
print(stu_in)
print()

#컬럼 값 리스트로 만들기(df.columns.tolist())
stu_col=df.columns.tolist()
print(stu_col)
print()

#특정 컬럼값만 리스트로 변환하기
print(df["name"],type(df["name"])) #행이 name에 해당하는 애들만 가져옴
#이렇게 되면 열제목은 없는 시리즈와 동일하여 출력이 시리즈로 출력됨
#데이터프레임 1개의 열=> 시리즈 타임

name_li=df["name"].values.tolist() #리스트로 변경하는 과정에서 행이름이 빠지고
print(name_li) #이름만 리스트로 변경. 데이터값이기때문에 벨류로 접근한다음 이름만 리스트의 형태로 변경한것

    name  score
학생1   짱구     60
학생2   철수    100
학생3   훈이     70

[['짱구', 60], ['철수', 100], ['훈이', 70]] <class 'list'>

['학생1', '학생2', '학생3']

['name', 'score']

학생1    짱구
학생2    철수
학생3    훈이
Name: name, dtype: object <class 'pandas.core.series.Series'>
['짱구', '철수', '훈이']

In [441]:
#데이터 프레임 -> 딕셔너리로 변환

import pandas as pd

#df.to_dict(): {열이름:{행이름:값, 행이름: 값,,,}} 열,행 키로 변환, 데이터는 값으로 들어감
print(df)
di1=df.to_dict()  #df: 아까만들었던 데이터프레임을 di1라는 변수안에 딕셔너리형태로 저장한것임
print(di1,type(dil)) #전체 딕셔너리 안에 값이 딕셔너리로 들어옴
print()

#df.to_dict("list") : {열이름: [값]} 열이르 키로, 데이터는 값으로 행은 사라짐
di2=df.to_dict("list")
print(di2)
print()

#df.to_dict("index") : {행이름: {열이름 : [값]}} 행,열 키로변환 데이터는 값으로 들어감
di3=df.to_dict("index")
print(di3)
print()

#df.to_dict("records") : {열1: 값, 열2: 값} 각 행을 딕셔너리로 변환, 그 행들을 리스트로 묶어서 반환
di4=df.to_dict("records")
print(di4)  #행이름 안나옴 열제목으로 구성된 딕셔너리로 전체 반환

    name  score
학생1   짱구     60
학생2   철수    100
학생3   훈이     70
{'name': {'학생1': '짱구', '학생2': '철수', '학생3': '훈이'}, 'score': {'학생1': 60, '학생2': 100, '학생3': 70}} <class 'dict'>

{'name': ['짱구', '철수', '훈이'], 'score': [60, 100, 70]}

{'학생1': {'name': '짱구', 'score': 60}, '학생2': {'name': '철수', 'score': 100}, '학생3': {'name': '훈이', 'score': 70}}

[{'name': '짱구', 'score': 60}, {'name': '철수', 'score': 100}, {'name': '훈이', 'score': 70}]

In [463]:
#행선택 iloc와 loc

df=pd.DataFrame({"A":[1,2,3],"B":[4,5,6],"C":[7,8,9]},index=['a','b','c'])
print(df)
print()

#1) loc를 사용한 행선택 : loc(행이름)
print(df.loc['a'],type(df.loc['a'])) #행선택  #타입 시리즈
print()

#1-1)iloc를 사용한 행선택
print(df.iloc[0]) #결과같음 #타입 시리즈
print()

#2)여러행 선택
print(df.loc[['a','c']],type(df.loc[['a','c']])) #여러행 선택이기떄문에 멀티인덱스 사용
#데이터 프레임으로 반환
print(df.loc['a':'b']) #슬라이싱 #이름으로 가져오면 끝값 포함
print()

#2-1) loc여러행선택
print(df.iloc[[0,2]]) #데이터 프레임 형태
print(df.iloc[:2]) #번호 슬라이싱이라 끝값 포함 안됨
print()

#iloc와 loc의 차이점
#1. iloc는 정수인덱스(번호기반)으로 선택하고 loc는 인덱스 이름을 기반으로 선택
#2. iloc는 범위끝포함X loc는 범위끝 포함
#3. loc메소드를 사용할때는 인덱스 이름값을 지정행해야함!!

   A  B  C
a  1  4  7
b  2  5  8
c  3  6  9

A    1
B    4
C    7
Name: a, dtype: int64 <class 'pandas.core.series.Series'>

A    1
B    4
C    7
Name: a, dtype: int64

   A  B  C
a  1  4  7
c  3  6  9 <class 'pandas.core.frame.DataFrame'>
   A  B  C
a  1  4  7
b  2  5  8

   A  B  C
a  1  4  7
c  3  6  9
   A  B  C
a  1  4  7
b  2  5  8

In [581]:
#열선택
#df[열이름]  ##열이름이 문자일 경우만 사용가능## =>시리즈로 반환

df=pd.DataFrame({"A":[1,2,3],"B":[4,5,6],"C":[7,8,9]},index=['a','b','c'])
print(df)
print()

print(df)
# print(df.iloc[0]) #iloc와 loc는 행을 선택할때 만들어진것이므로 이 두가지로 열은 선택할 수 없음
print()

#1개의 열선택
print(df['A'],type(df["A"])) #열 1개만 선택, A열에 있는 값들이 행이름과 같이 나와 시리즈형태로 출력
print(df.A) #d이렇게 적어도 가능하지만 열이 문자열일때만 가능 숫자면 불가능!!
print()

#여러개의 열선택
print(df[['A','B']],type(df[['A','B']])) #데이터프레임 반환

   A  B  C
a  1  4  7
b  2  5  8
c  3  6  9

   A  B  C
a  1  4  7
b  2  5  8
c  3  6  9

a    1
b    2
c    3
Name: A, dtype: int64 <class 'pandas.core.series.Series'>
a    1
b    2
c    3
Name: A, dtype: int64

   A  B
a  1  4
b  2  5
c  3  6 <class 'pandas.core.frame.DataFrame'>

In [593]:
#원소 선택하기

stu_data = {'이름' : ['짱구', "철수", "유리"],
           'python' : [60, 90, 80],
            'java' : [70, 100, 85],
            'C언어' : [50, 85, 70],
            '웹표준' : [80, 95, 90] 
           }
df=pd.DataFrame(stu_data)
print(df)
print()

#특정열을 행으로 지정하기 : set_index(열이름)
df.set_index('이름',inplace=True)
print(df)
print()
#iloc[행번호, 열번호]
#loc[행이름, 열이름]

print(df.iloc[0,1])
print(df.iloc[1,2])
print(df.loc["짱구","python"])
print()


#여러행, 여러 열 선택
print(df.iloc[0,[1,3]]) #행 열의 순서대로 값이 1개인상인것은 리스트로 묶어서 전달
print(df.iloc[2,[2,1]]) #시리즈 형태
print(df.loc["짱구",["웹표준","java"]])
print(df.loc[["철수","유리"],"python"])
print()

#슬라이싱 사용
print(df.loc['짱구':'철수','python':'C언어']) #데이터 프레임 형태로출력
#2개의 행 3개의열
print(df.iloc[1:,2:,])
print(df.iloc[1:3,::3]) #인덱스 번호 사용하여 원소 접근 시 스텝값 지정가능
print()

#열로만 슬라이싱(행전체)
print(df.loc[:,"python":"C언어"])
print(df.iloc[:,1:3])

   이름  python  java  C언어  웹표준
0  짱구      60    70   50   80
1  철수      90   100   85   95
2  유리      80    85   70   90

    python  java  C언어  웹표준
이름
짱구      60    70   50   80
철수      90   100   85   95
유리      80    85   70   90

70
85
60

java    70
웹표준     80
Name: 짱구, dtype: int64
C언어     70
java    85
Name: 유리, dtype: int64
웹표준     80
java    70
Name: 짱구, dtype: int64
이름
철수    90
유리    80
Name: python, dtype: int64

    python  java  C언어
이름
짱구      60    70   50
철수      90   100   85
    C언어  웹표준
이름
철수   85   95
유리   70   90
    python  웹표준
이름
철수      90   95
유리      80   90

    python  java  C언어
이름
짱구      60    70   50
철수      90   100   85
유리      80    85   70
    java  C언어
이름
짱구    70   50
철수   100   85
유리    85   70